@import '../global.scss';
@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@300;400&display=swap');

a:link {
  text-decoration: none;
}
@keyframes openSesame {
  from {
    width: 50%;
  }
  to {
    width: 60%;
  }
}
@mixin projectTitles($background, $border, $font) {
  background-color: $background;
  border: 8px solid $border;
  color: $font;
  // padding: 15px;
  padding-left: 400px;
  padding-right: 400px;
  border-radius: 25px;
}

.footer {
  margin-top: 150px;
  height: 100px;
  width: 100%;
  background-color: $col2c;
}
.title {
    text-align: center;
    margin-top: 14px;
    width: 600px;
    font-size: 1rem;
    animation-duration: 4s;
    animation-name: fadeIn;
    z-index: 3;
    @media (min-width: 480px){
      font-size: 1.3rem;
    }
    @media (min-width: 768px){
      font-size: 1.7rem;
    }
    @media (min-width: 992px){
      font-size: 2.1rem;
    }
  }
.subtitle {
    text-align: center;
    margin-top: 4px;
    margin-bottom: 20px;
    width: 600px;
    font-size: 0.7rem;
    color: $col2d;
    animation-duration: 4s;
    animation-name: fadeIn;
    z-index: 3;
    @media (min-width: 480px){
      font-size: 0.9rem;
    }
    @media (min-width: 768px){
      font-size: 1.1rem;
    }
    @media (min-width: 992px){
      font-size: 1.3rem;
    }
 }
#marsBox {
  display: flex;
  flex-direction: column;
  align-items: center;
  animation-name: fadeIn;
  @include projectTitles($col2a, $col2d, $col2b)
}
#coffeeBox {
  animation-name: fadeIn;
  @include projectTitles(rgb(120, 176, 221), $col2d, rgb(83, 53, 22))
}
#photoBox {
  animation-name: fadeIn;
  @include projectTitles(rgb(19, 19, 19), $col2d, rgb(253, 82, 110))
}

.main_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  grid-template-columns: 1fr;
}
.header_container {
  display: flex;
  justify-content: center;
  width: 100%;
  background-image: linear-gradient($col1c, $col2b, $col2b);

  .header_content{
    display: flex;
    flex-direction: row;
    align-items: top;
    justify-items: center;
    width: 95%;
    background-color: $col2a;
    margin-top: 15px;
    border-radius: 100px 40px 0px 0px;
    @media (min-width: 480px){
      width: 90%;
      margin-top: 20px;
      border-radius: 120px 45px 0px 0px;
    }
    @media (min-width: 768px){
      width: 85%;
      margin-top: 40px;
      border-radius: 180px 50px 0px 0px;
    }
    @media (min-width: 992px){
      width: 80%;
      margin-top: 40px;
    }
    .face {
      border-radius: 40px 3px;
      width: 80px;
      border: 2px solid white;
      margin: 25px;
      @media (min-width: 480px){
        border-radius: 60px 10px;
        width: 150px;
        border: 4px solid white;
        margin: 30px;
      }
      @media (min-width: 768px){
        border-radius: 100px 30px;
        width: 200px;
        border: 4px solid white;
        margin: 45px;
      }
      @media (min-width: 992px){
        border-radius: 130px 40px;
        width: 260px;
        border: 4px solid white;
        margin: 50px;
      }
    }
    .text_box {
      max-width: 90%;
      // background-color: $col2d;
      @media (min-width: 480px){
        max-width: 80%;
      }
      @media (min-width: 768px){
        max-width: 70%;
      }
      @media (min-width: 992px){
        max-width: 60%;
      }
    }
    .greetings {
      color: $col2b;
      font-size: 1.5rem;
      margin-top: 20px;
      @media (min-width: 480px){
        font-size: 1.6rem;
        margin-top: 25px;
      }
      @media (min-width: 768px){
        font-size: 2rem;
        margin-top: 45px;
      }
      @media (min-width: 992px){
        font-size: 2.5rem;
        margin-top: 70px;
      }
    }
    .iam {
      color: white;
      font-size: 1rem;
      margin-top: 15px;
      @media (min-width: 480px){
        font-size: 1rem;
      }
      @media (min-width: 768px){
        font-size: 1.2rem;
      }
      @media (min-width: 992px){
        font-size: 1.5rem;
      }
    }
  }
}
#transition1 {
  // margin-top: 10px;
  background-color: $col2a;
  width: 95%;
  border-bottom: 40px dashed $col2a;
  @media (min-width: 480px){
    width: 90%;
    border-bottom: 20px dashed $col2a;
  }
  @media (min-width: 768px){
    width: 85%;
    border-bottom: 40px dashed $col2a;   
  }
  @media (min-width: 992px){
    width: 80%;
    border-bottom: 50px dashed $col2a;   
  }
}
#transition2 {
  // margin-top: 10px;
  background-color: $col2d;
  width: 90%;
  border-bottom: 10px dashed $col2a;
  @media (min-width: 480px){
    width: 90%;
    border-bottom: 15px dashed $col2a;
  }
  @media (min-width: 768px){
    width: 80%;
    border-bottom: 20px dashed $col2a;   
  }
  @media (min-width: 992px){
    width: 80%;
    border-bottom: 20px dashed $col2a;   
  }
}
#transition3 {
  // margin-top: 10px;
  background-color: $col2d;
  width: 90%;
  border-bottom: 10px dashed $col2a;
  @media (min-width: 480px){
    width: 90%;
    border-bottom: 15px dashed $col2a;
  }
  @media (min-width: 768px){
    width: 80%;
    border-bottom: 20px dashed $col2a;   
  }
  @media (min-width: 992px){
    width: 80%;
    border-bottom: 20px dashed $col2a;   
  }
}

.project_container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: left;
  width: 100%;
  height: auto;
  background-image: linear-gradient($col2d, $col2d);
  border-radius: 30px 30px 30px 30px;
  @media (min-width: 480px){
    width: 95%;
  }
  @media (min-width: 768px){
    width: 85%;
  }
  @media (min-width: 992px){
    width: 80%;
  }
}
.project {
  display: flex;
  // margin: 40px;
  height: 220px;
  width: 90%;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  border-radius: 20px;
  @media (min-width: 480px){
    margin-top: 90px;
    width: 80%;
    height: 300px;
  }
  @media (min-width: 768px){
    margin-top: 100px;
    width: 65%;
    height: 380px;
  }
  @media (min-width: 992px){
    margin-top: 110px;
    width: 50%;
    max-width: 780px;
    height: 450px;
  }
}

#Mars {
  margin-right: 100px;
  background-color: #243634;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 2000 1500'%3E%3Cdefs%3E%3Ccircle stroke='%23fdc00c' vector-effect='non-scaling-stroke' id='a' fill='none' stroke-width='1' r='315'/%3E%3Cuse id='f' href='%23a' stroke-dasharray='100 100 100 9999'/%3E%3Cuse id='b' href='%23a' stroke-dasharray='250 250 250 250 250 9999'/%3E%3Cuse id='e' href='%23a' stroke-dasharray='1000 500 1000 500 9999'/%3E%3Cuse id='g' href='%23a' stroke-dasharray='1500 9999'/%3E%3Cuse id='h' href='%23a' stroke-dasharray='2000 500 500 9999'/%3E%3Cuse id='j' href='%23a' stroke-dasharray='800 800 800 800 800 9999'/%3E%3Cuse id='k' href='%23a' stroke-dasharray='1200 1200 1200 1200 1200 9999'/%3E%3Cuse id='l' href='%23a' stroke-dasharray='1600 1600 1600 1600 1600 9999'/%3E%3C/defs%3E%3Cg transform='translate(1000 750)' %3E%3Cg transform='rotate(100.8 0 0)' %3E%3Ccircle fill='%23fdc00c' r='10'/%3E%3Cg %3E%3Cuse href='%23f' transform='scale(.1) rotate(50 0 0)' /%3E%3Cuse href='%23f' transform='scale(.2) rotate(100 0 0)' /%3E%3Cuse href='%23f' transform='scale(.3) rotate(150 0 0)' /%3E%3C/g%3E%3Cg transform='rotate(-19.2 0 0)'%3E%3Cuse href='%23b' transform='scale(.4) rotate(200 0 0)' /%3E%3Cuse href='%23z' transform='scale(.5) rotate(250 0 0)' /%3E%3C/g%3E%3Cg id='z' transform=''%3E%3Cg transform='rotate(63 0 0)'%3E%3Cuse href='%23b'/%3E%3Cuse href='%23b' transform='scale(1.2) rotate(90 0 0)' /%3E%3Cuse href='%23b' transform='scale(1.4) rotate(60 0 0)' /%3E%3Cuse href='%23e' transform='scale(1.6) rotate(120 0 0)' /%3E%3Cuse href='%23e' transform='scale(1.8) rotate(30 0 0)' /%3E%3C/g%3E%3C/g%3E%3Cg id='y' transform='rotate(86.4 0 0)'%3E%3Cg transform='rotate(37.8 0 0)'%3E%3Cuse href='%23e' transform='scale(1.1) rotate(20 0 0)' /%3E%3Cuse href='%23g' transform='scale(1.3) rotate(-40 0 0)' /%3E%3Cuse href='%23g' transform='scale(1.5) rotate(60 0 0)' /%3E%3Cuse href='%23h' transform='scale(1.7) rotate(-80 0 0)' /%3E%3Cuse href='%23j' transform='scale(1.9) rotate(100 0 0)' /%3E%3C/g%3E%3C/g%3E%3Cg transform='rotate(-75.6 0 0)'%3E%3Cg transform=''%3E%3Cg transform='rotate(-115.2 0 0)'%3E%3Cuse href='%23h' transform='scale(2) rotate(60 0 0)'/%3E%3Cuse href='%23j' transform='scale(2.1) rotate(120 0 0)'/%3E%3Cuse href='%23j' transform='scale(2.3) rotate(180 0 0)'/%3E%3Cuse href='%23h' transform='scale(2.4) rotate(240 0 0)'/%3E%3Cuse href='%23j' transform='scale(2.5) rotate(300 0 0)'/%3E%3C/g%3E%3Cuse href='%23y' transform='scale(2) rotate(180 0 0)' /%3E%3Cuse href='%23j' transform='scale(2.7)'/%3E%3Cuse href='%23j' transform='scale(2.8) rotate(45 0 0)'/%3E%3Cuse href='%23j' transform='scale(2.9) rotate(90 0 0)'/%3E%3Cuse href='%23k' transform='scale(3.1) rotate(135 0 0)'/%3E%3Cuse href='%23k' transform='scale(3.2) rotate(180 0 0)'/%3E%3C/g%3E%3Cuse href='%23k' transform='scale(3.3) rotate(225 0 0)'/%3E%3Cuse href='%23k' transform='scale(3.5) rotate(270 0 0)'/%3E%3Cuse href='%23k' transform='scale(3.6) rotate(315 0 0)'/%3E%3Cuse href='%23k' transform='scale(3.7)'/%3E%3Cuse href='%23k' transform='scale(3.9) rotate(75 0 0)'/%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
  // background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  animation: openSesame 3s;
};
#Coffee {
  margin-left: 100px;
  background-color: #5a462b;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='670' height='80.4' viewBox='0 0 1000 120'%3E%3Cg fill='none' stroke='%23815e31' stroke-width='20' %3E%3Cpath d='M-500 75c0 0 125-30 250-30S0 75 0 75s125 30 250 30s250-30 250-30s125-30 250-30s250 30 250 30s125 30 250 30s250-30 250-30'/%3E%3Cpath d='M-500 45c0 0 125-30 250-30S0 45 0 45s125 30 250 30s250-30 250-30s125-30 250-30s250 30 250 30s125 30 250 30s250-30 250-30'/%3E%3Cpath d='M-500 105c0 0 125-30 250-30S0 105 0 105s125 30 250 30s250-30 250-30s125-30 250-30s250 30 250 30s125 30 250 30s250-30 250-30'/%3E%3Cpath d='M-500 15c0 0 125-30 250-30S0 15 0 15s125 30 250 30s250-30 250-30s125-30 250-30s250 30 250 30s125 30 250 30s250-30 250-30'/%3E%3Cpath d='M-500-15c0 0 125-30 250-30S0-15 0-15s125 30 250 30s250-30 250-30s125-30 250-30s250 30 250 30s125 30 250 30s250-30 250-30'/%3E%3Cpath d='M-500 135c0 0 125-30 250-30S0 135 0 135s125 30 250 30s250-30 250-30s125-30 250-30s250 30 250 30s125 30 250 30s250-30 250-30'/%3E%3C/g%3E%3C/svg%3E");
  animation: openSesame 3s;
}
#Photo {
  margin-left: 100px;
  background-color: white;
  background-image: url(../Assets/greenery.jpeg);
  background-size: cover;
  animation: openSesame 3s;
}
#Ratatap {
  margin-right: 100px;
  background-color: white;
  background-image: url(../Assets/ratatap2.png);
  background-size: cover;
  animation: openSesame 3s;
}

.tools {
  font-family: 'Dosis', sans-serif;
  font-weight: 400;
  color: black;
  font-size: 1.3rem;
  line-height: 1.8rem;
}
.block {
  width: 100%;
  justify-content: center;
  display: flex;
  align-items: baseline;
}
.even {
  display: flex;
  flex-direction: column;
  text-align: right;
}
.button {
  color: black;
  font-size: 1.1rem;
  border: 2px solid rgb(53, 53, 53);
  margin: 12px 0px 10px 0px;
  padding: 6px 0px;
  text-align: center;
  width: 130px;
  align-self: right;
}