@import '../global.scss';
@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@300;400&display=swap');

a:link {
  text-decoration: none;
}
a:-webkit-any-link {
    color: black;
    cursor: pointer;
    text-decoration: none;
}
@keyframes openSesame {
  from {
    width: 20%;
  }
  to {
    width: 70%;
  }
}
@media (min-width: 480px){
  @keyframes openSesame {
    from {
    width: 20%;
    }
    to {
    width: 70%;
    }
  }
}  
@media (min-width: 768px){
  @keyframes openSesame {
    from {
    width: 20%;
    }
    to {
    width: 65%;
    }
  }
}
@media (min-width: 992px){
  @keyframes openSesame {
    from {
    width: 20%;
    }
    to {
    width: 65%;
    }
  }
}
@media (min-width: 1200px){
 @keyframes openSesame {
  from {
    width: 30%;
  }
  to {
    width: 55%;
  }
  }
}

@mixin projectTitles($background, $font) {
  background-color: $background;
  border: 4px solid $col2d;
  color: $font;
  padding-left: 20%;
  padding-right: 20%;
  border-radius: 25px;
  display: flex;
  flex-direction: column;
  align-items: center;
  animation-name: fadeIn;
  &:hover {
    border: 7px solid $col2d;
  }
  &:active {
    border: 7px solid black;
  }
}

.footer {
  font-size: 0.7rem;
  margin-top: 50px;
  height: 50px;
  background-color: $col2c;
  color: $col1a;
}
#contactme {
  display: flex;
  flex-direction: row;
  background-color: white;
  background-image: linear-gradient($col2d, white, white, $col2d);
  margin-bottom: 30px;
  margin-top: 60px;
  justify-content: center;
  align-items: center;
  // width: 200px;
  height: 50px;
  border-radius: 25px;
  font-size: 0.7rem;
  @media (min-width: 480px){
      margin-bottom: 30px;
      margin-top: 100px;
      height: 80px;
      font-size: 0.8rem;
    }
    @media (min-width: 768px){
      margin-top: 140px;
      margin-bottom: 30px;
      height: 100px;
    }
    @media (min-width: 992px){
      font-size: 0.9rem;
    }
    @media (min-width: 1200px){
      
    }
}
.linkedin {
  margin: 15px;
  height: 22px;
  @media (min-width: 480px){
    margin: 25px;
    height: 30px;
  }
  @media (min-width: 992px){
    margin: 35px;
    height: 40px;
  }
}
.main_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  // grid-template-columns: 1fr;
}
.header_container {
  display: flex;
  justify-content: center;
  width: 100%;
  background-image: linear-gradient($col1c, $col2b, $col2b);

  .header_content{
    display: flex;
    flex-direction: row;
    align-items: top;
    justify-items: center;
    width: 95%;
    background-color: $col2a;
    margin-top: 8px;
    border-radius: 60px 25px 0px 0px;
    @media (min-width: 480px){
      width: 90%;
      margin-top: 10px;
      border-radius: 100px 40px 0px 0px;
    }
    @media (min-width: 768px){
      width: 85%;
      margin-top: 15px;
      border-radius: 140px 45px 0px 0px;
    }
    @media (min-width: 992px){
      width: 80%;
      margin-top: 20px;
      border-radius: 160px 60px 0px 0px;
    }
    @media (min-width: 1200px){
      border-radius: 165px 80px 0px 0px;
    }
    .face {
      border-radius: 45px 3px;
      width: 100px;
      height: 100px;
      margin: 15px;
      @media (min-width: 480px){
        border-radius: 60px 10px;
        width: 150px;
        height: 150px;
        margin: 30px;
      }
      @media (min-width: 768px){
        border-radius: 90px 20px;
        width: 200px;
        height: 200px;
        margin: 35px;
      }
      @media (min-width: 992px){
        border-radius: 110px 25px;
        width: 240px;
        height: 240px;
        margin: 38px;
      }
      @media (min-width: 1200px){
        border-radius: 120px 30px;
        width: 260px;
        height: 260px;
        margin: 40px;
      }
    }
    .text_box {
      max-width: 90%;
      @media (min-width: 480px){
        max-width: 80%;
      }
      @media (min-width: 768px){
        max-width: 70%;
      }
      @media (min-width: 992px){
        max-width: 60%;
      }
      @media (min-width: 1200px){
        max-width: 60%;
      }
    }
    .greetings {
      color: $col2b;
      font-size: 1.1rem;
      margin-top: 15px;
      @media (min-width: 480px){
        font-size: 1.4rem;
        margin-top: 25px;
      }
      @media (min-width: 768px){
        font-size: 1.8rem;
        margin-top: 45px;
      }
      @media (min-width: 992px){
        font-size: 2.2rem;
        margin-top: 70px;
      }
      @media (min-width: 1200px){
        font-size: 2.5rem;
        margin-top: 70px;
      }
    }
    .iam {
      color: white;
      font-size: 0.7rem;
      margin-top: 10px;
      @media (min-width: 480px){
        font-size: 0.9rem;
      }
      @media (min-width: 768px){
        font-size: 1.1rem;
      }
      @media (min-width: 992px){
        font-size: 1.3rem;
      }
      @media (min-width: 1200px){
        font-size: 1.4rem;
      }
    }
  }
}

#transition1 {
  // margin-top: 10px;
  background-color: $col2a;
  width: 95%;
  border-bottom: 40px dashed $col2a;
  @media (min-width: 480px){
    width: 90%;
    border-bottom: 20px dashed $col2a;
  }
  @media (min-width: 768px){
    width: 85%;
    border-bottom: 40px dashed $col2a;   
  }
  @media (min-width: 992px){
    width: 80%;
    border-bottom: 50px dashed $col2a;   
  }
}
#transition2 {
  // margin-top: 10px;
  background-color: $col2d;
  width: 90%;
  // border-radius: 0px 0px 0px 0px;

  border-bottom: 10px dashed $col2a;
  @media (min-width: 480px){
    width: 90%;
    border-bottom: 15px dashed $col2a;
  }
  @media (min-width: 768px){
    width: 85%;
    border-bottom: 18px dashed $col2a;   
  }
  @media (min-width: 992px){
    width: 80%;
    border-bottom: 20px dashed $col2a;   
  }
}
#transition3 {
  // margin-top: 10px;
  background-color: $col2d;
  width: 90%;
  // border-radius: 0px 0px 10px 10px;
  border-bottom: 10px dashed $col2a;
  @media (min-width: 480px){
    width: 90%;
    border-bottom: 15px dashed $col2a;
  }
  @media (min-width: 768px){
    width: 85%;
    border-bottom: 18px dashed $col2a;   
  }
  @media (min-width: 992px){
    width: 80%;
    border-bottom: 20px dashed $col2a;   
  }
}

.project_container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: left;
  width: 100%;
  // height: 1400px;
  background-image: linear-gradient($col2d, $col2d);
  border-radius:0px 0px 25px 25px;
  @media (min-width: 480px){
    width: 95%;
    // height: 1950px;
  }
  @media (min-width: 768px){
    width: 85%;
    // height: 2300px;

  }
  @media (min-width: 992px){
    width: 80%;
    // height: 2600px;
  }
  @media (min-width: 1200px){
  //  height: 2700px;
  }
}
.block {
  width: 100%;
  justify-content: center;
  display: flex;
  align-items: flex-end;
  animation-name: fadeIn;
  animation-duration: 1s;
  animation-timing-function: cubic-bezier(1,.22,.52,.96);
}
.project {
  display: flex;
  // margin: 40px;
  height: 220px;
  width: 72%;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  border-radius: 20px;
  margin-top: 30px;
  @media (min-width: 480px){
    margin-top: 70px;
    width: 70%;
    height: 280px;
  }
  @media (min-width: 768px){
    margin-top: 90px;
    width: 65%;
    height: 320px;
  }
  @media (min-width: 992px){
    margin-top: 100px;
    width: 65%;
    height: 380px;
  }
  @media (min-width: 1200px){
    margin-top: 100px;
    width: 55%;
    max-width: 760px;
    height: 400px;
  }
}

#Mars {
  margin-right: 4%;
  background-color: #243634;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 2000 1500'%3E%3Cdefs%3E%3Ccircle stroke='%23fdc00c' vector-effect='non-scaling-stroke' id='a' fill='none' stroke-width='1' r='315'/%3E%3Cuse id='f' href='%23a' stroke-dasharray='100 100 100 9999'/%3E%3Cuse id='b' href='%23a' stroke-dasharray='250 250 250 250 250 9999'/%3E%3Cuse id='e' href='%23a' stroke-dasharray='1000 500 1000 500 9999'/%3E%3Cuse id='g' href='%23a' stroke-dasharray='1500 9999'/%3E%3Cuse id='h' href='%23a' stroke-dasharray='2000 500 500 9999'/%3E%3Cuse id='j' href='%23a' stroke-dasharray='800 800 800 800 800 9999'/%3E%3Cuse id='k' href='%23a' stroke-dasharray='1200 1200 1200 1200 1200 9999'/%3E%3Cuse id='l' href='%23a' stroke-dasharray='1600 1600 1600 1600 1600 9999'/%3E%3C/defs%3E%3Cg transform='translate(1000 750)' %3E%3Cg transform='rotate(100.8 0 0)' %3E%3Ccircle fill='%23fdc00c' r='10'/%3E%3Cg %3E%3Cuse href='%23f' transform='scale(.1) rotate(50 0 0)' /%3E%3Cuse href='%23f' transform='scale(.2) rotate(100 0 0)' /%3E%3Cuse href='%23f' transform='scale(.3) rotate(150 0 0)' /%3E%3C/g%3E%3Cg transform='rotate(-19.2 0 0)'%3E%3Cuse href='%23b' transform='scale(.4) rotate(200 0 0)' /%3E%3Cuse href='%23z' transform='scale(.5) rotate(250 0 0)' /%3E%3C/g%3E%3Cg id='z' transform=''%3E%3Cg transform='rotate(63 0 0)'%3E%3Cuse href='%23b'/%3E%3Cuse href='%23b' transform='scale(1.2) rotate(90 0 0)' /%3E%3Cuse href='%23b' transform='scale(1.4) rotate(60 0 0)' /%3E%3Cuse href='%23e' transform='scale(1.6) rotate(120 0 0)' /%3E%3Cuse href='%23e' transform='scale(1.8) rotate(30 0 0)' /%3E%3C/g%3E%3C/g%3E%3Cg id='y' transform='rotate(86.4 0 0)'%3E%3Cg transform='rotate(37.8 0 0)'%3E%3Cuse href='%23e' transform='scale(1.1) rotate(20 0 0)' /%3E%3Cuse href='%23g' transform='scale(1.3) rotate(-40 0 0)' /%3E%3Cuse href='%23g' transform='scale(1.5) rotate(60 0 0)' /%3E%3Cuse href='%23h' transform='scale(1.7) rotate(-80 0 0)' /%3E%3Cuse href='%23j' transform='scale(1.9) rotate(100 0 0)' /%3E%3C/g%3E%3C/g%3E%3Cg transform='rotate(-75.6 0 0)'%3E%3Cg transform=''%3E%3Cg transform='rotate(-115.2 0 0)'%3E%3Cuse href='%23h' transform='scale(2) rotate(60 0 0)'/%3E%3Cuse href='%23j' transform='scale(2.1) rotate(120 0 0)'/%3E%3Cuse href='%23j' transform='scale(2.3) rotate(180 0 0)'/%3E%3Cuse href='%23h' transform='scale(2.4) rotate(240 0 0)'/%3E%3Cuse href='%23j' transform='scale(2.5) rotate(300 0 0)'/%3E%3C/g%3E%3Cuse href='%23y' transform='scale(2) rotate(180 0 0)' /%3E%3Cuse href='%23j' transform='scale(2.7)'/%3E%3Cuse href='%23j' transform='scale(2.8) rotate(45 0 0)'/%3E%3Cuse href='%23j' transform='scale(2.9) rotate(90 0 0)'/%3E%3Cuse href='%23k' transform='scale(3.1) rotate(135 0 0)'/%3E%3Cuse href='%23k' transform='scale(3.2) rotate(180 0 0)'/%3E%3C/g%3E%3Cuse href='%23k' transform='scale(3.3) rotate(225 0 0)'/%3E%3Cuse href='%23k' transform='scale(3.5) rotate(270 0 0)'/%3E%3Cuse href='%23k' transform='scale(3.6) rotate(315 0 0)'/%3E%3Cuse href='%23k' transform='scale(3.7)'/%3E%3Cuse href='%23k' transform='scale(3.9) rotate(75 0 0)'/%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-size: cover;
  animation: openSesame 2.5s;
  background-position: center;
  & .box {
    @include projectTitles($col2a, $col2b)
  }
};
#Coffee {
  margin-left: 4%;
  background-color: #5a462b;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='670' height='80.4' viewBox='0 0 1000 120'%3E%3Cg fill='none' stroke='%23815e31' stroke-width='20' %3E%3Cpath d='M-500 75c0 0 125-30 250-30S0 75 0 75s125 30 250 30s250-30 250-30s125-30 250-30s250 30 250 30s125 30 250 30s250-30 250-30'/%3E%3Cpath d='M-500 45c0 0 125-30 250-30S0 45 0 45s125 30 250 30s250-30 250-30s125-30 250-30s250 30 250 30s125 30 250 30s250-30 250-30'/%3E%3Cpath d='M-500 105c0 0 125-30 250-30S0 105 0 105s125 30 250 30s250-30 250-30s125-30 250-30s250 30 250 30s125 30 250 30s250-30 250-30'/%3E%3Cpath d='M-500 15c0 0 125-30 250-30S0 15 0 15s125 30 250 30s250-30 250-30s125-30 250-30s250 30 250 30s125 30 250 30s250-30 250-30'/%3E%3Cpath d='M-500-15c0 0 125-30 250-30S0-15 0-15s125 30 250 30s250-30 250-30s125-30 250-30s250 30 250 30s125 30 250 30s250-30 250-30'/%3E%3Cpath d='M-500 135c0 0 125-30 250-30S0 135 0 135s125 30 250 30s250-30 250-30s125-30 250-30s250 30 250 30s125 30 250 30s250-30 250-30'/%3E%3C/g%3E%3C/svg%3E");
  animation: openSesame 2.5s;
  background-position: center;
  & .box {
    @include projectTitles(rgb(120, 176, 221), rgb(83, 53, 22))
    } 
}
#Photo {
  margin-right: 4%;
  background-color: white;
  background-image: url(../Assets/greenery.jpeg);
  background-size: cover;
  background-position: center;
  animation: openSesame 2.5s;
  & .box {
    @include projectTitles(rgb(19, 19, 19), rgb(247, 65, 65))
  }
  & #NSFW {
  margin-top: 8px;
  font-size: 1rem;
  color: red;
  }
}
#RGB {
  margin-left: 4%;
  background-color: white;
  background-image: url(../Assets/rgbimage.png);
  background-size: cover;
  background-position: center;
  animation: openSesame 2.5s;
  & .box {
    @include projectTitles(rgb(18, 17, 53), rgb(252, 229, 130))
  }
}
#Ratatap {
  margin-right: 4%;
  background-color: white;
  background-image: url(../Assets/ratatap2.png);
  background-size: cover;
  background-position: center;
  animation: openSesame 2.5s;
  & .box {
    @include projectTitles(rgb(19, 19, 19), rgb(253, 82, 110))
  }
}

.title {
    text-align: center;
    margin-top: 14px;
    width: 600px;
    font-size: 1rem;
    animation-duration: 3s;
    animation-name: fadeIn;
    animation-timing-function: ease-in;
    z-index: 3;
    @media (min-width: 480px){
      font-size: 1.3rem;
    }
    @media (min-width: 768px){
      font-size: 1.5rem;
    }
    @media (min-width: 992px){
      font-size: 1.6rem;
    }
    @media (min-width: 1200px){
      font-size: 1.9rem;
    }
  }
.subtitle {
    text-align: center;
    margin-top: 3px;
    margin-bottom: 20px;
    width: 40%;
    font-size: 0.6rem;
    color: $col2d;
    animation-duration: 4s;
    animation-name: fadeIn;
    animation-timing-function: ease-in;
    z-index: 3;
    @media (min-width: 480px){
      font-size: 0.8rem;
      width: 50%;
    }
    @media (min-width: 768px){
      font-size: 0.9rem;
    }
    @media (min-width: 992px){
      font-size: 1rem;
      width: 60%;
    }
    @media (min-width: 1200px){
      font-size: 1.1rem;
      width: 75%;
    }
 }
.tools {
  font-family: 'Dosis', sans-serif;
  font-weight: 400;
  color: black;
  font-size: 0.7rem;
  line-height: 1rem;
  margin-bottom: 20px;
  @media (min-width: 480px){
    font-size: 1rem;
    line-height: 1.3rem;
  }
  @media (min-width: 768px){
      font-size: 1rem;
      line-height: 1.4rem;
  }
  @media (min-width: 992px){
      font-size: 1.1rem;
      line-height: 1.6rem;
  }
  @media (min-width: 1200px){
      font-size: 1.2rem;
      line-height: 1.8rem;
  }
  &.even {
  display: flex;
  flex-direction: column;
  text-align: right;
}
  
}

.button {
  background-color: rgb(250, 247, 241);
  color: blue;
  font-size: 0.6rem;
  border: 2px solid rgb(53, 53, 53);
  border-radius: 3px;
  margin: 6px 0px 0px 0px;
  padding: 6px 0px;
  text-align: center;
  width: 70px;
  align-self: right;
  &:hover {
    font-size:0.65rem;
    background-color: white;
  }
  &:active {
    border: 2px solid white;
  }
  @media (min-width: 480px){
    font-size: 0.8rem;
    width: 90px;
    &:hover {
    font-size:0.83rem;
    background-color: white;
    }
  }
  @media (min-width: 768px){
      font-size: 0.9rem;
      width: 100px;
      margin: 12px 0px 0px 0px;
      &:hover {
      font-size:0.93rem;
      background-color: white;
      }
  }
  @media (min-width: 992px){
      width: 120px;
  }
  @media (min-width: 1200px){
      font-size: 1.1rem;
      &:hover {
      font-size:1.12rem;
      background-color: white;
      }
     
  }
}